<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Lista de Cursos</h3>
                </div>
                <form class="card-body">
                    <div>
                        <div class="form-group required">
                            <label for="nombre">Nombre</label>
                            <select class="form-control" id="exampleFormControlSelect1" #nombre>
                                <option *ngFor="let materia of materias">{{ materia }}</option>
                            </select>
                        </div>
                        <div class="form-group required">
                            <label for="tutor">Tutor</label>
                            <input name="tutor" type="text" class="form-control" id="tutor"
                                [value]="tutor" readonly  />
                        </div>
                        <div class="form-group required">
                            <label for="Imagen Url">Imagen Url</label>
                            <input name="url" #url type="text" class="form-control" id="url"
                                value="http://lorempixel.com/400/200/technics" placeholder="Ingresar url..." required />
                        </div>
                        <button type="submit" (click)="guardar(nombre.value, tutor, url.value)"
                            class="btn btn-primary">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr class="mb-5" />
    <div class="row row-flex">
        <app-cursos *ngFor="let curso of cursos" [curso]="curso"></app-cursos>
    </div>
</div>