<div class="card-content">
  <div class="card-img">
      <img src="{{ destino.url }}" />
      <span>
          <h4>{{ position }}</h4>
      </span>
  </div>
  <div class="card-desc">
      <h3>{{ destino.nombre }}</h3>
      <p>Servicios</p>
      <ul>
          <li *ngFor="let s of destino.servicios; let i = index">
              <span [ngSwitch]="s">
                  <i *ngSwitchCase="'desayuno'" style="color: crimson;">{{ s.nombre }}</i>
                  <i *ngSwitchDefault>{{ s.nombre }}</i>
                  <a href="#" (click)="voteServiceUp(s)"><i class="material-icons md-18">thumb_up_alt</i></a>
                  <a href="#" (click)="voteServiceDown(s)"><i class="material-icons md-18">thumb_down_alt</i></a>
                  {{ s.voto }}
              </span>
          </li>
      </ul>
      <div>
          <a href="#" (click)="voteUp()"><i class="material-icons md-18">thumb_up</i></a>
          <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
          {{destino.votes}}
      </div>
      <a href="#" class="btn-card" (click)="ir()">Ir</a>
      <span *ngIf="destino.selected"> 
          <span ngNonBindable>- PREFERED -</span>
      </span>
      <a [routerLink]="['/destino/destino.id']">Ver Detalle</a>
  <a href="#" (click)="quitar()">
    <i class="material-icons md-18" style="color: red;">delete_forever</i>
      </a>
      
  </div>
</div>