<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Perfil</h3>
                </div>
                <form class="card-body">
                    <div class="form-group">
                        <img style="width: 100%; margin: auto;" class="row row-flex" src="http://lorempixel.com/400/200/people">
                    </div>
                    <div class="col-md-6">
                        
                        <div class="form-group required">
                            <label for="nombre">Nombre</label>
                            <input name="url" [value]="nombre" (change)="actualizarName(name.value)" #name type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." required/>
                        </div>
                        <div class="form-group required">
                            <label for="NickName">NickName</label>
                            <input name="nickname" [value]="nickname" (change)="actualizarNick(nick.value)" #nick type="text" class="form-control" id="url" placeholder="Ingresar url..." required/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h5 class="mb-0">Materias</h5>
                </div>
                <form class="card-body">
                    <div class="form-group">
                        {{ nombre }} {{ nickname }}
                    </div>
                    <div>
                        <ul>
                            <li *ngFor="let materia of materiasRec">{{materia}}</li>
                        </ul>
                    </div>
                </form>
        </div>
        </div>
    <hr class="mb-5" />
<!--     <div class="row row-flex">
        <app-destino-viaje *ngFor="let destino of destinos" [destino]="destino" ></app-destino-viaje>
    </div> -->
</div>