<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/reservas']">Reservas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['./', 10]">Detalle</a>
        </li>
    </ul>
</nav>

<p>reservas-listado works!</p>

<div *ngFor="let r of api.getAll()">
    {{r.id}} - {{r.name}}
</div>
